.main-article{
    margin-bottom: 60px;
}
.image-article{
    width:169px !important;
    height: 172px;
    
}
.image-front{
    width:370px !important;
    height: 270px !important;
}

/* search */


.aa-input-container {
  display: inline-block;
  position: relative;
  text-align: center
 
}
.aa-input-search {
  height: 50px !important;
  width: 700px;
  padding: 12px 28px 12px 12px;
  border: 2px solid #e4e4e4;
  border-radius: 4px;
  -webkit-transition: .2s;
  transition: .2s;
  box-shadow: 4px 4px 0 rgba(241, 241, 241, 0.35);
  font-size: 11px;
  box-sizing: border-box;
  color: #333;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }
  .aa-input-search::-webkit-search-decoration, .aa-input-search::-webkit-search-cancel-button, .aa-input-search::-webkit-search-results-button, .aa-input-search::-webkit-search-results-decoration {
    display: none; }
  .aa-input-search:focus {
    outline: 0;
    border-color: #3a96cf;
    box-shadow: 4px 4px 0 rgba(58, 150, 207, 0.1); }
.aa-input-icon {
  height: 16px;
  width: 16px;
  position: absolute;
  top: 50%;
  right: 16px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  fill: #e4e4e4; }
.aa-hint {
  color: #e4e4e4;
  
}
.aa-dropdown-menu {
  /* background-color: red; */
  background-color: #fff;
  border: 2px solid rgba(228, 228, 228, 0.6);
  border-top-width: 1px;
  width: 700px;
  margin-top: 10px;
  box-shadow: 4px 4px 0 rgba(241, 241, 241, 0.35);
  font-size: 11px;
  border-radius: 4px;
  box-sizing: border-box;
  display: none
 
  
 }
.aa-suggestion {
  padding: 12px;
  border-top: 1px solid rgba(228, 228, 228, 0.6);
  cursor: pointer;
  -webkit-transition: .2s;
  transition: .2s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; 
        
    }
  .aa-suggestion:hover, .aa-suggestion.aa-cursor {
    background-color: rgba(241, 241, 241, 0.35); }
  .aa-suggestion > span:first-child {
    color: #333; }
  .aa-suggestion > span:last-child {
    text-transform: lowercase;
    color: #a9a9a9; }
.aa-suggestion > span:first-child em, .aa-suggestion > span:last-child em {
 
  background-color: rgba(58, 150, 207, 0.1);
  padding: 2px 0 2px 2px; }
#butonSearch{
  
  height: auto;
  background-color: #00cc67;
  border: 0;
  text-align: center
}
.aa-suggestion a{
  color: #333 !important;
  font-size: 14px;
  font-weight: 400
 
}
#form{
  display: inline;
}

.tg-loginsignup{
  padding: 60px 120px 120px 120px ;
}
.tg-featuretag{
  font-size: 18px;
  padding-top: 15px;
  height: 40px;
}
.tg-youmayalsolike .tg-ads .tg-ad{
  /* border:4px solid #D3D3D3	 */
  box-shadow: 0 0 5px 0 #7e9dff;
  border: 6px solid #337ab7;
}
.visitBtn{
  background-color: #f91942;
}
.avoirAussi,.pasMal,.notreChoix{
margin-bottom: 40px;
}
.visitBtn{
  margin-right: 22px;
}