 @include('includes/header')
 <body class="tg-home tg-homeone">
  <div id="tg-wrapper" class="tg-wrapper tg-haslayout">
   @include('partials/navigation')
   
   @section('content')
   @endsection
  </div>
 </div>
 @include('includes/footer')